.chat-main
  .main-header
    .main-header__group
      .main-header__group-name
        = @group.name
      %ul.main-header__member-list 
        Member : 
        %li
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "main-header__edit-btn" do
      Edit

  .message
    = render @messages

  .form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'submit-btn'